VITE_API_BASE_URL=/api/v1
VITE_USE_MOCK_API=true

# Auth0 Single Page Application values.
VITE_AUTH0_DOMAIN=dev-qpevrkauua3p7j6l.us.auth0.com
VITE_AUTH0_CLIENT_ID=Z4LdZf8STLjtuUvkrdgrtGvwzwQlJbBZ

# Auth0 API Identifier. Set this after creating the CodeGym API in Auth0.
VITE_AUTH0_AUDIENCE=
